html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: url(../images/shoe3.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.overlay {
    opacity: .6;
    content: "";
    width: 100%;
    height: 100%;
    position: fixed;
    background: #000000;
    top: 0;
    bottom: 0;
}
.title {
    width: 100%;
    position: relative;
    color: wheat;
    h5 {
        font-size: 2em;
        margin: 2px;
        padding: 5px;
    }
}
section {
    margin-top: 10px;
    padding: 15px;
    .form-area {
        width: 45%;
        //height: 100%;
        border: 4px solid #fff;
        text-align: center;
        display: block;
        margin: 0 auto;
        position: relative;
        border-radius: 5px;
        padding-bottom: 5em;
    }
    .emmathem {
        margin-top: 15px;
        color: #fff;
    }
    .logo {
        margin-top: 5em;
    }
    img {
        width: 200px;
        height: 200px;
        position: relative;
        border: 1px solid #111;
        border-radius: 50%;
    }
    .form-input {
        width: 50%;
        height: 40%;
        padding: 15px;
        border-radius: 4px;
        outline: none;
        box-shadow: none;
        background: white;
        border: none;
    }
    .sub-mit {
        padding: 10px;
        display: block;
        p{
            color:white;
        }
    }
    .submit {
        margin: 2px;
        padding: .9em 3em;
        border: none;
        background: #000654;
        border-radius: 3px;
        color: #fff;
        cursor: pointer;
    }
    .submit-up {
        @extend .submit;
        background: #ff0000;
    }
}
